<div id="<%= dom_id message %>" class="message-container d-flex message-container-<%= message.user.id %>">
  <div class = "message-format cont-<%= message.user.id %>">

    <div class="message-content">
      <div class = "message-main-body">
        <%= message.content %>
        <time class="message-time" data-controller="timeago" data-timeago-datetime-value="<%= message.created_at %>"></time>
      </div>
    </div>
  </div>
</div>
