<div class="our-container">
  <h1><%= @movie.title %></h1>
  <% @chat_room.posts.each do |post| %>
    <div class="post p-3" data-controller="votes-handler"
                          data-votes-handler-target="likes"
                          data-votes-handler-poster-value=<%= post.user.id%>
                          data-votes-handler-post-value=<%= post.id %>
                          data-votes-handler-user-value=<%= current_user.id %> >
      <div class="tweetEntry rounded">
        <div class="tweetEntry-content">
          <a class="tweetEntry-account-group" href="[accountURL]">
            <img class="tweetEntry-avatar rounded-circle" src="http://placekitten.com/200/200">
            <strong class="tweetEntry-fullname">
              <%= post.user.nickname %>
            </strong>
            <span class="tweetEntry-username">
              <b><%= post.user.nickname %></b>
            </span>
            <span class="tweetEntry-timestamp"><%= @movie.title %></span>
          </a>
          <div class="tweetEntry-text-container">
            <%= post.content %>
          </div>
        </div>
        <div class="optionalMedia">
          <img class="optionalMedia-img" src="http://placekitten.com/500/400">
        </div>
        <div class="tweetEntry-action-list d-flex">
          <i class="fa fa-reply"></i>
          <div class="post-likes d-flex">
            <i class="fa fa-heart" data-action="click->votes-handler#like"
                                   data-votes-handler-target="button" ></i>
            <p data-votes-handler-target="count"><%= post.likes %>(likes)</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
