<div class="our-container">
  <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <div class="index__cards mx-3">
    <% @movies.each do |movie| %>
      <div class="index__cards-card">
        <div class="index__cards-card-img" style="background-image:url('<%= movie.poster_url %>');">
        </div>
        <div class="index__cards-card-body">
          <p class="index__cards-card-body-title m-0 mt-3"><%= movie.title %></p>
          <p class="index__cards-card-body-text">(<%= movie.year %>)</p>
          <div class="index__cards-card-body-btn d-flex justify-content-center">
            <div class="movie-show-link">
              <%= link_to "movies/#{movie.id}" do %>
                <button class="movie-show-button btn-post-tweet">About</button>
              <% end %>
            </div>
            <div class="movie-show-link d-flex justify-content-between">
              <%= link_to "movies/#{movie.id}/chatrooms/#{movie.id}" do %>
                <button class="movie-show-button btn-post-tweet">Chat</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
