<div class="our-container">
  <div class="index-search-div">
    <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :mquery, params[:mquery],
      class: "form-control",
      placeholder: "Type a Title or a Year"
      %>
      <%= submit_tag "Find a movie", class: "btn-post-tweet" %>
    <% end %>
  </div>
  <div class="index__cards mx-3">
    <% @movies.each do |movie| %>
      <div class="index__cards-card">
        <div class="index__cards-card-img" style="background-image:url('<%= movie.poster_url %>');">
        </div>
        <div class="index__cards-card-text m-0 mt-3">
          <p class="index__cards-card-text-title"><%= movie.title %></p>
        </div>
        <div class="index__cards-card-btn">
          <div><p class="index__cards-card-text-year"><%= movie.year %></p>
          </div>
          <div class="movie-show-link">
            <%= link_to "movies/#{movie.id}" do %>
              <button class="movie-show-button btn-post-tweet">About</button>
            <% end %>
          </div>
          <div class="movie-show-link">
            <%= link_to "/chatrooms/#{movie.chat_room.id}" do %>
              <button class="movie-show-button btn-post-tweet">Chat</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
