<div class="post pt-3 px-3" data-controller="votes-handler"
                          data-votes-handler-target="likes"
                          data-votes-handler-poster-value=<%= post.user.id%>
                          data-votes-handler-post-value=<%= post.id %>
                          data-votes-handler-user-value=<%= current_user.id %> >
  <div class="tweetEntry mx-3">
    <div class="post-movie-poster" style="background-image:url('<%= post.chat_room.movie.poster_url %>');"></div>
    <div class="tweetEntry-content">
      <div class="tweetEntry-header">
        <%= link_to "/profile/#{post.user.id}", class:"tweetEntry-fullname" do %>
          <strong><%= post.user.nickname %></strong>
        <% end %>
        <%= link_to "/chatrooms/#{post.chat_room.id}", class:"tweetEntry-chatroom" do %>
          <%= post.chat_room.movie.title %>
        <% end %>
        <%= link_to "/profile/#{post.user.id}" do %>
          <div class="tweetEntry-avatar rounded-circle user-avatar-small" style="background-image:url('<%= cl_image_path post.user.photo.key %>')"></div>
        <% end %>
      </div>
      <div class="tweetEntry-text-container">
        <div class="tweetEntry-text-container-content">
          <%= post.content %>
        </div>
      </div>
      <div class="tweetEntry-footer">
        <p class= "tweetEntry-timestamp m-0"><%= post.created_at %></p>
        <% unless in_reply %>
          <%= link_to post_path(post), class:"tweetEntry-reply" do %>
            <i class="fa fa-reply"></i>
          <% end %>
        <% end %>
        <div class="post-likes d-flex align-items-center">
          <% hasliked = !PostVote.find_by(user_id: current_user.id, post_id: post.id).nil? %>
          <i class="fa fa-heart mt-0<%= ' liked-button-red' if hasliked %>"
                                    data-action="click->votes-handler#like"
            data-votes-handler-target="button" ></i>
          <p class="m-0" data-votes-handler-target="count"><%= post.likes %></p>
        </div>
      </div>
    </div>
    <%# <% if post.photo.attached? %>
    <%# <div class="optionalMedia"> %>
    <%#= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
    <%# </div> %>
    <%# end %>
  </div>
</div>
