<div class="post pt-3 px-3" data-controller="votes-handler"
                          data-votes-handler-target="likes"
                          data-votes-handler-poster-value=<%= post.user.id%>
                          data-votes-handler-post-value=<%= post.id %>
                          data-votes-handler-user-value=<%= current_user.id %> >
  <div class="tweetEntry rounded mx-3">
    <div class="tweetEntry__poster">
      <div class="tweetEntry-avatar rounded-circle user-avatar-small" style="background-image:url('<%= cl_image_path post.user.photo.key %>')"></div>
    </div>
    <div class="tweetEntry-content">
      <a class="tweetEntry-account-group row justify-content-between" href="/chatrooms/<%= post.chat_room.id %>">
        <strong class="tweetEntry-fullname-post col-4 pl-3">
          <%= post.user.nickname %>
        </strong>
        <span class="tweetEntry-movie-title col-4 d-flex justify-content-end pe-3"><%= post.chat_room.movie.title %></span>
      </a>
      <div class="tweetEntry-text-container">
        <div class="tweetEntry-text-container-content">
          <%= post.content %>
          <%= post.created_at %>
        </div>
      </div>
      <div class="tweetEntry-action-list">
        <%= link_to post_path(post)  do %>
          <i class="fa fa-reply"></i>
        <% end %>
        <div class="post-likes d-flex align-center">
          <% hasliked = !PostVote.find_by(user_id: current_user.id, post_id: post.id).nil? %>
          <i class="fa fa-heart <%= 'liked-button-red' if hasliked%> "
                                    data-action="click->votes-handler#like"
            data-votes-handler-target="button" ></i>
          <p class="m-0" data-votes-handler-target="count"><%= post.likes %><%= " (likes)" %></p>
        </div>
      </div>
    </div>
    <%# <% if post.photo.attached? %>
    <%# <div class="optionalMedia"> %>
    <%#= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
    <%# </div> %>
    <%# end %>
  </div>
</div>
