<% @post.replies.each do |reply| %>
  <div class="replyEntry mx-3 mb-3">
    <div class="replyEntry-content">
      <div class="replyEntry-account-group">
        <div class="replyEntry-avatar rounded-circle user-avatar-small" style="background-image:url('<%= cl_image_path reply.user.photo.key %>')"></div>
        <span class="replyEntry-username"><%= reply.user.nickname %></span>
        <span class="replyEntry-timestamp"><%= @post.chat_room.movie.title %></span>
      </div>
      <div class="replyEntry-text-container" >
        <%= reply.content %>
      </div>
    </div>
    <% if reply.photo.attached? %>
      <div class="optionalMedia">
        <%= cl_image_tag reply.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
    <div class="replyEntry-action-list" style="line-height:24px;color: #b1bbc3;">
      <i class="fa fa-heart" style="width: 80px"></i>
    </div>
  </div>
<% end %>
