<div class="tweet mx-4 p-2">
  <div class="tweet__avatar" style="background-image:url('<%= cl_image_path reply.user.photo.key %>')"></div>
  <div class="tweet__container">
    <div class="tweet__header">
      <div class="tweet__author-name">
        <%= reply.user.nickname %>
      </div>
      <div class="tweet__publish-time">
        <time data-controller="timeago" data-timeago-datetime-value="<%= reply.created_at %>"></time>
      </div>
    </div>
    <div class="tweet__content">
      <%= reply.content %>
      <% if reply.photo.attached? %>
        <div class="optionalMedia">
          <%= cl_image_tag reply.photo.key %>
        </div>
      <% end %>
    </div>
  </div>
</div>
