<% @post.replies.each do |reply| %>
  <div class="tweet mx-4">
  <div class="tweet-container">
    <div class="tweet__header">
      <div class="tweet__author-logo" style="background-image:url('<%= cl_image_path reply.user.photo.key %>')"></div>
      <div class="tweet__author-name">
        <%= reply.user.nickname %>
      </div>
      <div class="tweet__author-slug">
        @<%= reply.user.nickname %>
      </div>
      <div class="tweet__publish-time">
        <%= reply.created_at %>
      </div>
    </div>
    <div class="tweet__content">
      <%= reply.content %>
    </div>
    <div class="tweet__action-list">
      <i class="fa fa-heart m-0 p-2"></i>
    </div>
  </div>
</div>
<% end %>
