<div id="search-div">
  <div id="search-div-title">Jump to</div>
  <div id="search" data-controller="search">
    <%= form_with data: {search_target: "form"},id:"search-form" do |f| %>
      <% movies = Movie.all.map{ |e| e.title} %>
      <% users = User.all.map{ |e| e.nickname} %>
      <%= f.text_field :query, class: "form-control form-font-size", id:"search-field", placeholder:
                     "Go to a movie or a user profile", value: params[:query],
                      data: {
                        search_target: "input",
                        action: "keyup->search#queryDb"} %>
    <% end %>
    <div id="search-results" class="d-none form-control" data-search-target="links">
    </div>
  </div>
  <div id="news" class=" news-all-cont" >
    <div class="container">
      <% Newspaper.all.each do |n| %>
        <%= link_to n.url, target: :_blank ,class:"text-decoration-none" do %>
          <div class="news-container">
            <div class="news-img" style="background-image:url('<%= n.image_url %>');">
            </div>
            <div class="news-title">
              <p class="news-title"><%= n.title %></p>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
