<div class="our-container">

  <div class="profile-banner">
    <div class="profile-banner-pic" style="background-image:url('https://res.cloudinary.com/dcgbqu8yk/image/upload/v1670250127/Screen_Shot_2022-12-05_at_15.20.20_qsharx.png')">
      <div class="back-button-container">
        <%= render 'shared/buttons/back_button' %>
      </div>
    </div>
  </div>
  <div class="profile-user-details-container">
    <div class="profile-user-pic" style="background-image:url('<%= cl_image_path @user.photo.key %>')"></div>
    <div class="profile-user-details">
      <div class="profile-user-name">
        <%= @user.nickname %>
      </div>
      <div class="profile-user-email">
        <% unless @user.id == current_user.id %>
            <%= render 'shared/buttons/follow_user', user: @user %>
        <% end %>
      </div>
      <div class="profile-user-bio pt-3 me-3">
        <%= @user.bio %>
      </div>
    </div>
  </div>
  <div class="bottom-profile-container" data-controller="profile-tabs">
    <div class="profile-btns-container p-3 mt-3 d-flex">
      <button class="btn-profile-tab" data-profile-tabs-target="buttonFollowedMovies" data-action="click->profile-tabs#showFollowedMovies">Followed Movies</button>
      <button class="btn-profile-tab mx-3" data-profile-tabs-target="buttonFollowedUsers" data-action="click->profile-tabs#showFollowedUsers">Followed Users</button>
      <button class="btn-profile-tab" data-profile-tabs-target="buttonPosts" data-action="click->profile-tabs#showPosts">Posts</button>
      <% if @user == current_user %>
      <button class="btn-profile-tab mx-3" data-profile-tabs-target="buttonNotifications" data-action="click->profile-tabs#showNotifications">Notifications</button>
      <% else %>
        <button class="btn-profile-tab mx-3 d-none" data-profile-tabs-target="buttonNotifications" data-action="click->profile-tabs#showNotifications">Notifications</button>
      <% end %>
    </div>
    <div class="show-content-container p-3">
      <div class="followed-movies-container" data-profile-tabs-target="followedMovies">
        <div class="index__cards mx-3" id="profile-movies">
          <% @movies.each do |movie| %>
            <%= render 'shared/cards/movie', movie: movie %>
          <% end %>
        </div>
      </div>
      <div class="followed-users-container d-none" data-profile-tabs-target="followedUsers">
        <div>
          <% if @followed_users.empty? %>
            <p class="profile-followed-movie-title">You are not following anyone yet.</p>
          <% else %>
            <% @followed_users.each do |user| %>
              <%= render 'shared/cards/user', user: user %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="profile-posts-container d-none" data-profile-tabs-target="posts">
        <div class="posts-all-container" data-search-target="postsContainer">
          <% @user.posts.each do |post| %>
            <%= render 'shared/posts', post: post, in_reply: false %>
          <% end %>
        </div>
      </div>
      <div class="profile-notifications-container d-none" data-profile-tabs-target="notifications">
        <div class="posts-all-container" data-search-target="postsContainer">
          <% if @user.replies.where(read: false) %>
            <% @user.posts.each do |post| %>
              <% post.replies.reverse_each do |reply| %>
                <% unless @user == reply.user %>
                <%= render 'shared/notification_replies', reply: reply, in_reply: false %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <p class="profile-followed-movie-title">You have no notifications yet.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
