<div class="index__cards-card">
  <div class="index__cards-card-img" style="background-image:url('<%= movie.poster_url %>');">
  </div>
  <div class="index__cards-card-text m-0 mt-3">
    <p class="index__cards-card-text-title"><%= movie.title %>(<%= movie.year %>)</p>
  </div>
  <div class="index__cards-card-btn">
    <%= render 'shared/buttons/follow_movie', movie: movie %>
    <div class="movie-show-link">
      <%= link_to "movies/#{movie.id}" do %>
        <button class="movie-show-button btn-movie-about">About</button>
      <% end %>
    </div>
    <div class="movie-show-link">
      <%= link_to "/chatrooms/#{movie.chat_room.id}" do %>
        <button class="movie-show-button btn-post-tweet">Chat</button>
      <% end %>
    </div>
  </div>
</div>
