<div class="our-container pt-3">
  <div class="back-button-container">
    <%= render 'shared/buttons/back_button' %>
  </div>
  <div class="container">
    <%= render 'shared/posts', post: @post, in_reply: true  %>
    <div id="new-reply" class="m-3 p-3" >
      <div class="tweetEntry-avatar rounded-circle user-avatar-small" style="background-image:url('<%= cl_image_path current_user.photo.key %>')"></div>
      <div class="form-post-new ml-3 mr-3">
        <%= render 'shared/new_reply_form' %>
      </div>
    </div>
    <h3 class="replies-title">Replies:</h3>
    <div class="replies-all-container">
      <% @replies.each do |reply| %>
        <%= render 'shared/replies', reply: reply%>
      <% end %>
    </div>
  </div>
</div>
